.query {
  display: flex;
  font-size: 24px;
  border: 2px solid #d8d8d8;
  padding: 10px 5px;
  border-radius: 10px;
  justify-content: space-between;
  min-height: 72px;
}
.query:hover,
.query:active {
  border: 2px solid #8e49e8;
}
.active {
  border: 2px solid #8e49e8;
}
.queryText {
  text-align: left;
  padding-right: 50px;
}
.btnWrapper {
  display: block;
}
.deleteBtn {
  font-size: 19px;
  padding: 8px 12px;
  margin: 3px 4px;
  background-color: #e74c3c;
  color: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.deleteBtn:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

.completed {
  text-decoration-line: line-through;
  -moz-text-decoration-line: line-through;
}
